{
  "presets": [//presets? 플러그인보다 먼저 돌고, 이런이런 규칙으로 돌 예정이다.
    ["env", { "modules": false }],//env?최신 자스가(es2017) 모두적용. modules:false? 바벨에서 알아서 모듈 처리 하지 말아라.
    "stage-1",//바벨문법에서 0~1단계 까지를 포함
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
