footer{}
footer p{ text-align: center; font-size:18px; color: #aaa;}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 18px;
    vertical-align: top;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    cursor: pointer;
    width:50px;
    padding:9px 5px;
    margin-left:5px;
    border:1px solid #faa;
}
input {width: 200px; padding: 10px; font-size: 18px;}
button, input[type="checkbox"] {
    outline: none;
}
.Bank-app input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.Bank-app input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.Bank-app input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}
table{border-collapse: collapse;width:334px;margin-top:10px;border-spacing: 0;border:1px solid #ccc;}
table td{text-align:right;border:1px solid #ccc;padding:5px 10px;}
table thead td{text-align: center;}